script ignore__see_bug_1605268 = True

script topsrcdir = "C:/Users/Elmar/Documents/demo32ss/chicken/mozilla-unified"; lldb.debugger.HandleCommand("command source -s true '%s'" % os.path.join(topsrcdir, ".lldbinit"))

